[Unit]
Description=BookLoft test shop
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/bookloftpl/test
EnvironmentFile=/etc/bookloft-test-shop/bookloft-test-shop.env
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
